
/******************************************************************/

html {
  min-height: 100%;
  position: relative;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-family: var(--bs-font-sans-serif);
    box-sizing: border-box;
    color: #212529;
    background-color: #fff;
  }
/******************************************************************/

#nav{
  background-color: #c2c2c2c2;
}



/******************************************************************/



