{% extends 'layout.html' %}
{% load static %}
{% block content %}


{% block head %}
<LINK REL=StyleSheet HREF='{% static 'css/store.css' %}' TYPE="text/css">
{% endblock %}

<div class="container">
    <div class="container-busqueda">
        <form method="POST" action="" class="d-flex align-items-center">
            {% csrf_token %}
            <div class="input-group">

                <input type="text" name="buscador" placeholder="Buscar..." value="{{ request.POST.buscador }}"
                    class="form-control my-input">
                &nbsp;
                <button type="submit" class="btn btn-primary my-btn">Buscar</button>
            </div>
            <a href="{% url 'store'%}" class="btn btn-outline-primary ms-3">Todo</a>
        </form>
    </div>

</div>
<br>


<div class="container-wrapper">
    <div class="container container-products ">
        {% if entity %} {% for producto in entity %}

        <div class="card-producto">
            <div class="img-prod">
                {% if producto.imagen %}

                {% if producto.oferta == '0' %}
                {% elif producto.oferta == '5' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-5%</h1>
                {% elif producto.oferta == '10' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-10%</h1>
                {% elif producto.oferta == '15' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-15%</h1>
                {% elif producto.oferta == '20' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-20%</h1>
                {% elif producto.oferta == '25' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-25%</h1>
                {% elif producto.oferta == '30' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-30%</h1>
                {% elif producto.oferta == '35' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-35%</h1>
                {% elif producto.oferta == '40' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-40%</h1>
                {% elif producto.oferta == '45' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-45%</h1>
                {% elif producto.oferta == '50' %}
                <img id="logo-oferta" src="{% static 'assets/images/oferta.png' %}" alt="imagen-producto" />
                <h1 id="oferta">-50%</h1>
                {% endif %}


                {% if producto.nuevo == True %}
                <img id="logo" src="{% static 'assets/images/nuevo.png' %}" alt="imagen-producto" />
                {% endif %}
                <img class="mx-auto d-block img-fluid" src="{{ producto.imagen.url }}" alt="producto" />
                {% else %}
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="not image" />
                {% endif %}
            </div>
            {% load humanize %}
            <div class="info">
                <h3 id="mi-id">{{ producto.nombre | title }}</h3>
                <h5>{{producto.marca}}</h5>
                {% if producto.oferta != '0' %}
                {% if producto.precio_descuento %}
                <p>Precio:<del>(${{ producto.precio|floatformat:0 }}</del>)
                    <span style="color: red; font-weight: bold;">${{ producto.precio_descuento|floatformat:0 }}</span>
                </p>
                {% endif %}
                {% else %}
                <p>Precio: {{ producto.precio|floatformat:0 }}</p>
                {% endif %}
            </div>
            <div class="container-btn">
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                    <a href="#" class="x btn btn-danger">Lo quiero!</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="x btn btn-danger">Lo quiero!</a>
                    {% endif %}
                    &nbsp;
                    <a href="{% url 'detalle' producto.id %}" class=" y btn btn-dark">Detalles</a>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="text-center text-warning">
            <h3> No se encontraron Productos!!</h3>
        </div>
        {% endif %}
    </div>

    <div class="container container-shop">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Producto seleccionado</h5>
                <p class="card-text">Cantidad: <span>0</span></p>
                <p>-------------------------------------------------------</p>
                <p class="card-text">Total: $<span id="total">0.</span></p>
            </div>
        </div>

    </div>


</div>



{% endblock %}